.movie-list-item {
  padding: 14px 18px;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 0.2s ease-in-out;
  font-size: 15px;
  font-weight: 500;
}

.movie-list-item:hover {
  background-color: #e6f7ff;
}

.movie-list-item span {
  font-size: 13px;
  color: #888;
}
